label {
    padding-right: 1rem;
}

.modal {
    position: fixed;
    z-index: 3;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
}

.modal.open {
    display: flex;
    flex-direction: column;
}
.modal.closed {
    display: none;
}

.modal .topbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: lightgray;
}

.modal .content {
    display: flex;
    padding: 0.5rem;
}